<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NASA Picture of the Day</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Syne:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <div class="intro">
      <img src="<%= imgSrc %>" />
      <!-- <h3>TODAY'S PHOTO:</h3> -->
      <h1>"<%= title %>"</h1>
      <strong class="description"
        ><%- (new Date()).toLocaleDateString('en-US', {month: 'long', day:
        'numeric', year: 'numeric' }) %></strong
      >
    </div>
    <div class="description">
      <p><%= description %></p>
      <p>Full image <a href="<%= imgSrc %>">here</a>, courtesy of NASA.</p>
    </div>
  </body>
  <footer>
    <p>Jessica Zwicky <%- new Date().getFullYear() %></p>
  </footer>
</html>
